# Docker
docker-compose.yml
*.log
*.pid
*.seed

# Backend
backend/target/
backend/*.jar
/.mvn

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/.vite

# Playwright
.test-results/
playwright-report/
